beautifulsoup4
certifi
chardet
confusable-homoglyphs
defusedxml
django
django-cors-headers
django-mail-admin
django-registration
djangorestframework
entrypoints
Pillow
python-utils
python3-openid
pytz
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
style
update
urllib3
utils
virtualenv
webencodings

